<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metatags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Musicmood. Translate your music into a mood.">
    <meta name="keywords" content="music, color, mood, feelings, spotify, lastfm">

    <!-- Schema.org -->
    <meta itemprop="name" content="Music Mood">
    <meta itemprop="url" content="http://musicmood.me/">
    <meta itemprop="image" content="http://musicmood.me/src/img/cover.png">
    <meta itemprop="description" content="Musicmood. Translate your music into a mood.">

    <!-- FACEBOOK -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Music Mood" />
    <meta property="og:image" content="http://musicmood.me/src/img/cover.png" />
    <meta property="og:site_name" content="Music Mood" />
    <meta property="og:description" content="Musicmood. Translate your music into a mood." />

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Music Mood" />
    <meta name="twitter:description" content="Musicmood. Translate your music into a mood." />
    <meta name="twitter:image:src" content="http://musicmood.me/src/img/cover.png" />

    <!-- Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <title>D3 | Musicmood</title>
    <meta name=description content="Musicmood. Translate your music into a mood.">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=author content="D3 - Digital Producer">
    <meta property="og:title" content="Music Mood">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://musicmood.me/">
    <meta property="og:image" content="http://musicmood.me/src/img/cover.png">
    <meta property="og:site_name" content="Music Mood">
    <meta property="og:description" content="Musicmood. Translate your music into a mood.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Music Mood">
    <meta name="description" content="Musicmood. Translate your music into a mood.">
    <meta name="twitter:image" content="http://musicmood.me/src/img/cover.png">
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="icon" href="/src/img/favicon.png">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

</head>
<body>
    <a href="{{url}}">
        <img src="/src/img/lastfm.png" class="lastlogo" />
    </a>
</body>
</html>
